.wrapper {
  display: flex;
  flex-direction: row;

  padding: 0% !important;
  height: 100vh;
}
.side-bar {
  padding: 0% !important;
  border: 1px solid grey;
}

.btn {
  border-radius: 0% !important;
  border-right: 0px !important;
  border-left: 0px !important;
  color: #fff;
  border: #fff;
}
