<div class="container mt-4">
  <div class="card">
    <div class="card-header card-heading">
      <div class="left"><h3>First programming language</h3></div>
      <div class="right">Date: 12/31/20, 4:39 PM</div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse suscipit
          ipsam velit repellendus a, assumenda rerum magni asperiores sapiente
          deleniti soluta! Quis laboriosam expedita eveniet corporis recusandae
          animi, optio quod. Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Consectetur qui facere fugit provident velit, eum debitis et
          laboriosam quisquam consequuntur cum repellendus rerum vero maxime.
          Enim dolorem cupiditate rem aliquam.
        </p>
        <footer class="blockquote-footer">
          Written by <cite title="Source Title">Satyam sinha</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
